{% extends 'home/base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}
<h1>{{title}}</h1>
<form method="post" class="form-register">
   <!-- csrf токен необходим для защиты данных и возможности их использования и обрабатывания с помощью python-->
  {% csrf_token %}
  <!--
  {{ form }}
   фильтр as_p  каждое поле как отдельный параграф -->
  {{ form.as_p }}
 <button class="btn btn-outline-warning" type="submit"> Зарегистрироваться </button>
  <!-- используем классы от бутстрапа -->
</form>
<p>Уже зарегистрированы? <a href="{% url 'user' %}">Войти в личный кабинет</a></p>
{% endblock %}

  {% block aside_block%}
    <p>Ldhfksjdfhslkgnxc,mnskljhoirjfwe</p>
    <button class="btn btn-warning"> посмотреть</button>
    <img src="" class="img-thumbnail">
{% endblock %}
